{% extends 'store/base.html' %}
{% load static widget_tweaks %}

{% block head %}
<title>Editar product</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/store.css' %}">

{% endblock %}
{% block content %}

<form class="container" id="container-edit" method="POST" action="{% url 'update' product.id %}">
    {% csrf_token %}
    <table class="table table-striped  table-responsive-sm table-responsive-md table-hover">
        <thead class="">
            <tr>
                <td colspan="6" class="text-center">{{ product.name }}</td>
            </tr>
            <tr>
                <td></td>
                <td>Id</td>
                <td>Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Image</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Before</td>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }}</td>
                <td><img src="{{product.image}}" height="40vw" alt=""></td>
            </tr>
            <tr>
                <td>Ahora</td>
                <td>{{ product.id }}</td>
                <td class="edit-input">{% render_field form_product.name name='name' %}</td>
                <td class="edit-input">{% render_field form_product.category name='category' %}</td>
                <td class="edit-input">{% render_field form_product.price name='price' %}</td>
                <td class="edit-input">{% render_field form_product.image name='image' %}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <input type="submit" class="btn btn-light">

    </div>
</form>
{% endblock %}